<div class="container-fluid">
    <div class="h1 d-flex justify-content-center">Screens Entry</div>
    <hr>
    <div class="d-flex justify-content-end mb-3">
        <button class="btn btn-primary mr-2" (click)="handleAddClick()">Add</button>
        <button class="btn btn-success" (click)="handleSaveClick()">Save</button>
    </div>
    <div class="row">
        <div class="col-8">
            <div class="col-12">
                <table class="table m-2">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">Name</th>
                            <th scope="col">Router Link</th>
                            <th scope="col">Module</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let screen of screens">
                            <td>
                                <input class="form-control" type="text" [(ngModel)]="screen.name">
                            </td>
                            <td>
                                <input class="form-control" type="text" [(ngModel)]="screen.routerPath">
                            </td>
                            <td>
                                <select class="form-control" [(ngModel)]="screen.parentModuleId">
                                    <option *ngFor="let test of modules" [ngValue]="test.uid">
                                        {{test.name}}
                                    </option>
                                </select>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-4">
            <div class="col-12">
                <auth-module-view [modules]="rootModules"></auth-module-view>
            </div>
        </div>
    </div>
</div>
